<ng-container *ngIf="item">
  <mat-toolbar class="header">
    <h1>{{item.title}}</h1>
    <div class="tags">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of item.tags">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>
  </mat-toolbar>
  <div class="detail-page-container">
    <div class="detail-page-content">
      <div class="banner-image">
        <img *ngIf="!isPosition(item)" src="assets/images/submissions/{{item.image}}" alt="{{item.title}}">
        <img *ngIf="isPosition(item)" src="assets/images/positions/{{item.image}}" alt="{{item.title}}">
      </div>
      <h2>Overview</h2>
      <section class="intro">
        <p>{{item.description}}</p>
      </section>
  
      <ng-container *ngIf="isPosition(item)">
        <h2>Submissions from {{item.title}}</h2>
        <div class="shelf">
          <app-item-shelf [items]="item.submissions"></app-item-shelf>
        </div>
      </ng-container>
  
      <h2 *ngIf="isPosition(item)">Related Positions</h2>
      <h2 *ngIf="!isPosition(item)">Related Submissions</h2>
      <app-item-shelf [items]="item.related"></app-item-shelf>
  
      <mat-divider></mat-divider>
      <h2>User comments</h2>
      <ng-container>
        <app-comment-box [item]="item"></app-comment-box>
        <mat-divider></mat-divider>
      </ng-container>
      <app-comment-view [item]="item"></app-comment-view>
    </div>
  </div>

</ng-container>