@import '../../../styles/variables.less';

.breadcrumbs {
    background-color: @background-very-light;
    padding: 12px 40px 8px;
  
    .breadcrumb {
      text-decoration: none;
      color: @primary;
    }
  }