<div class="container">
  <mat-toolbar color="primary">
    <nav class="left">
      <ul>
        <li>
            <a mat-icon-button [routerLink]="'/'">
                <mat-icon aria-label="Home">home</mat-icon>
            </a>
        </li>
        <li>
            <a mat-button [routerLink]="'/submissions'">
                Submissions
            </a>
        </li>
        <li>
            <a mat-button [routerLink]="'/positions'">
                Positions
            </a>
        </li>
      </ul>
    </nav>
    <nav class="right">
        <ul>
          <li>
              <a mat-stroked-button [routerLink]="'/login'">
                Login
            </a>
          </li>
        </ul>
    </nav>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
