<div>
  <input type="text" placeholder="search" [(ngModel)]="query">
  <button (click)="query = ''">clear search</button>
  <mat-list>
      <mat-list-item *ngFor="let submission of (submissions | orderBy: 'title' | filterBy:['title', 'name'] : query)">
        <img matListAvatar src="assets/images/submissions/thumbnails/{{submission.thumbnail}}" alt="submission.title">
        <h3 matLine><a [routerLink]="[ '/submission/', submission.name]">{{submission.title}}</a></h3>
        <p matLine>
          <span> {{submission.description}} </span>
        </p>
        <div>
          {{submission.rating}}
        </div>
      </mat-list-item>
    </mat-list>
</div>
<div class="cards">
  <mat-card class="example-card" *ngFor="let submission of (submissions | orderBy: 'title' | filterBy:['title', 'name'] : query)">
      <mat-card-header>
        <div mat-card-avatar class="header-image"><img class="header-image" matListAvatar src="assets/images/submissions/{{submission.thumbnail}}" alt="submission.title"></div>
        <mat-card-title>{{submission.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
            {{submission.description}}
        </p>
      </mat-card-content>
    </mat-card>
</div>
