<mat-toolbar class="header">
    <h1>Submissions overview</h1>
</mat-toolbar>
<div class="submission-overview">
  <div class="search">
    <mat-form-field class="search-form">
      <input matInput type="text" placeholder="Search submissions" [(ngModel)]="query">
      <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="submission-list">
    <mat-list>
      <mat-list-item [routerLink]="[ '/submission/', submission.name]" *ngFor="let submission of (submissions | orderByImpure: 'title' | filterByImpure:['title', 'name'] : query)">
          <img matListAvatar src="assets/images/submissions/thumbnails/{{submission.thumbnail}}" alt="submission.title">
          <h3 matLine>{{submission.title}}</h3>
          <p matLine>
            <span> {{submission.description}} </span>
          </p>
          <!-- <div class="rating" title="Rating">
            {{submission.rating}}
          </div> -->
      </mat-list-item>
    </mat-list>
  </div>
</div>
