@import '../../../styles/variables.less';

.submission-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 20px;
   
       .search-form {
           width: 50%;
       }
   }

    .submission-list {
        display: flex;
        justify-content: center;
        .mat-list {
            width: 62%;
            mat-list-item {
                cursor: pointer;
                
                .rating {
                    padding-left: 15px;
                }
            }
        }
    }
}


